<h1>Editing holiday</h1>

<% form_for(@holiday) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :holiday %><br />
    <%= f.date_select :holiday %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @holiday %> |
<%= link_to 'Back', holidays_path %>
