<div style="float:left">
<p>
  <%= f.label :title %><br />
  <%= f.text_field :title %>
</p>
<p>
  <%= f.label :low %><br />
  <%= f.text_field :low %>
</p>
<p>
  <%= f.label :high %><br />
  <%= f.text_field :high %>
</p>
<p>
  <%= f.label :completed %> 
  <%= f.check_box :completed %>
</p>
<p>
  <%= f.label :user_id %><br />
	<%= f.collection_select :user_id, User.find(:all), :id, :name, {:prompt => :true} %>
</p>
<p>
  <%= f.label :start %><br />
  <%= f.date_select :start %>
</p>	
<p>
	<%= hidden_field_tag :parent_id, params[:parent_id]%>
</p>
</div>
<div style="float:left">
<p>
  <%= f.label :description %><br />
  <%= f.text_area :description %>
</p>
</div>
<div style="clear:both"></div>
