<% if !request.xhr?%>
<h1></h1><%#= f.label :task %>
<%end%>
<% unless @task.new_record?%>
<label><%= f.check_box :completed if @task.type.nil?%></label>
<%else%>
<label><%= f.check_box :completed if @task.type.nil?%></label>
<% end %>
<% if @task.new_record?%>
	<%= f.text_field :title, :size => 80%>
<% else%>
	<%= f.text_field :title, :id => "task_title_#{@task.id}", :size => 80%>
<% end %>
<%= f.collection_select :user_id, User.find(:all), :id, :name, {:prompt => :true} %>

<div>
<% if @task.type.nil?%>
<p>
	<%= f.label :estimate %>
  <%= f.text_field :estimate%><br>
	<span class="help"> e.g.: 0.5h,&nbsp; 1-2 hours,&nbsp; 5h - 1d,&nbsp; 2days </span>
</p>

<p>
	<%= f.label :Tags %>
  <%= f.text_field :tag_list%><br>
</p>
<p>
		<%= f.label :project %>
		<%= select_tag(:parent_id, option_groups_from_collection_for_select(Release.all, :children, :title, :id, :title, @parent_id.to_i) ) %>
</p>

<% else %>
<p>
  <%= f.label :due %><br />
  <%= f.date_select :due %>
	<% if @task.type == "Project"%>
		<%= collection_select :neighbor, :project_id, @task.siblings, :id, :title, {:prompt => "Prioritize Below"} %> <span class="help">(optional)</span>
	<% end %>
</p>	


<% end %>
<% if false %>
<!--- 
<p>
  <%= f.label :start %><br />
  <%= f.date_select :start %>
</p>	
-->
<% end %>
<p>
 </p>
</div>
<div>
<p style="clear:both">
  <%= f.label :notes %> 
  <%= f.text_area :description, :rows => 8, :style=>"width:90%"%>
</p>
</div>
<p>
</p>
<div style="clear:both"></div>
<script type="text/javascript" charset="utf-8">
<% if !request.xhr?%>
function startup(){
<%end%>
		<% if @task.new_record? %>
		$("#task_title").focus();		
		<% else %>
		$("#task_title_#{@task.id}").focus();		
		<% end %>
		<% if !request.xhr?%>
}
<% end %>
$('#task_label_<%= @task.id %>').hide();
</script>
