<% if @task.new_record? && !request.xhr?%>
<h1></h1><%#= f.label :task %>
<%end%>
<% unless @task.new_record?%>
  <%= f.check_box :completed %>
<% end %>
<% if @task.new_record?%>
	<%= f.text_field :title%>
<% else%>
	<%= f.text_field :title, :id => "task_title_#{@task.id}"%>
	<%= link_to 'Delete', @task, :confirm => "About to delete #{@task.title}\n\nAre you sure you wish to delete this task?\n", :method => :delete%>
<% end %>
<div>
<% if @task.type.nil?%>

<p>
	<%= f.label :estimate %><br>
  <%= f.text_field :estimate%><br>
	<span class="help"> Example: 0.5h,&nbsp; 1-2 hours,&nbsp; 5h - 1d,&nbsp; 2days </span>
</p>

<% else %>
<p>
  <%= f.label :due %><br />
  <%= f.date_select :due %>
</p>	
<% end %>
<% if false %>
<!--- 
<p>
  <%= f.label :start %><br />
  <%= f.date_select :start %>
</p>	
-->
<% end %>
<p>
	<%= hidden_field_tag :parent_id, params[:parent_id]%>
</p>
</div>
<div>
<p>
  <%= f.label :description %> <span class="help">(optional)</span><br />
  <%= f.text_area :description, :rows => 7 %>
</p>
</div>
<p>
	<%= f.collection_select :user_id, User.find(:all), :id, :name, {:prompt => :true} %>
</p>
<div style="clear:both"></div>
<script type="text/javascript" charset="utf-8">
<% if !request.xhr?%>
function startup(){
<%end%>
		<% if @task.new_record? %>
		$("#task_title").focus();		
		<% else %>
		$("#task_title_#{@task.id}").focus();		
		<% end %>
		<% if !request.xhr?%>
}
<% end %>
$('#task_label_<%= @task.id %>').hide();
</script>