<h1>New Task</h1>
	<%= f.label :title %> <br />
	<%= f.text_field :title, :class => :big%>
<div>
<% if @task.type.nil?%>

<p>
  <%= f.label :estimate %> <br />
  <%= f.text_field :estimate, :class => :big %><br/>
<span class="help" style="font-size:12px">e.g. &nbsp; 0.5h,&nbsp; 1-2 hours,&nbsp; 5h - 1d,&nbsp; 2days</span>
</p>

<% unless @task.new_record?%>
<p>
  <%= f.check_box :completed %>
  <%= f.label :completed %> 
</p>
<% end %>
<% else %>
<p>
  <%= f.label :due %><br />
  <%= f.date_select :due %>
</p>	
<% end %>
<% if false %>
<!--- 
<p>
  <%= f.label :start %><br />
  <%= f.date_select :start %>
</p>	
-->
<% end %>
<p>
	<%= hidden_field_tag :parent_id, params[:parent_id]%>
</p>
</div>
<div>
<p>
  <%= f.label :description %> <span class="help">(optional)</span><br />
  <%= f.text_area :description, :rows => 7 %>
</p>
</div>
<p>
  <%= f.label :owner %><br />
	<%= f.collection_select :user_id, User.find(:all), :id, :name, {:prompt => :true} %>
</p>
<div style="clear:both"></div>
<script type="text/javascript" charset="utf-8">
	function startup()
	{
		$("input:visible:enabled:first").focus();
	}
</script>