<p>
  <%= f.label :title %><br />
  <%= f.text_field :title %>
</p>

<p>
  <%= f.label :user_id %><br />
	<%= f.collection_select :user_id, User.find(:all), :id, :name %>
</p>

<p>
	<%= hidden_field_tag :parent_id, params[:parent_id]%>
</p>
