
<tr><td style="<%if !task2.due.nil? && task2.type=="Release"%>;background-color:<%= cycle("#E2FEFE", "#F6DAFC", "#FFFEDC", "#D8D9FB")%>; opacity:0.95<%end%>" id="task_<%=task2.read_attribute('id') -%>" class="strow <%="completed" if task2.completed? -%> <%="onhold" if task2.on_hold? || task2.parent.on_hold? -%> <%=task2.type_string -%><%=" mine" if task2.user_id == current_user -%>">
		<% if task2.type.nil? 
			-%><% if task2.user_id == current_user.id && !@timer.nil? 
				-%><div id="timer_link_<%=task2.id -%>">
						<% remote_form_for(:interval, Interval.new, :url => new_interval_path(:task_id => task2.id ), 
								:html => {:method => 'post', :id => "interval_task_#{task2.id}", :style => "position:absolute;right:24px;"}) do |f| -%>
							<%= f.text_field :hours, 
								:style=>"border:1px solid #777;margin-top:1px;width:5em;text-align:center;backround-color:none;", 
								:onchange => "this.style.backgroundColor='#D9DFFC';$('#save_btn_#{task2.id}').show();", 
								:id => "interval_hours_#{task2.id}"-%>
							<%= f.submit "save", :id => "save_btn_#{task2.id}", :style => "display:none" %>
							<% end -%>
						<% form_for(:task2, task2, :url => complete_task_path( task2 ), :html => {:method => 'put', :id => "complete_task_#{task2.id}",:style => "position:absolute;right:4px;"}) do |f| -%>
							<%#= link_to "log", new_interval_path(:task_id => task2.id), :target => '_top'%>
							<%= f.check_box :completed, :onclick => "$('#complete_task_#{task2.id}').submit();" -%>
						<% end -%>
						<%unless task2.completed? -%>
							<%=link_to '<img class="item ' + (task2 == @current_task ? 'started' : 'stopped') + '" src="/images/space.gif" align="absmiddle" border="0"> ' + 
								task2.title, user_path(current_user, 
								:task_id => (@current_task == task2 ? nil : task2.id), 
								:stop => (@current_task == task2 ? true : nil), 
								:timer =>params[:timer]), 
								:class => "hideul #{(task2 == @current_task ? 'started' : 'stopped')}" unless task2.completed? -%>
				  		<%else -%>
								<%if task2.completed?%><img class="item" src="/images/space.gif" align="absmiddle"><%end%><%= link_to task2.title, task2 -%>
							<%end -%>
					</div>
				<% elsif task2.user_id == current_user.id -%>
	  			<%if task2.completed?%><img class="item" src="/images/space.gif" align="absmiddle"><%end%>
					<%= link_to task2.title, edit_task_path(task2)%>
					<span id="edit_task_<%=task2.id%>"></span>
				<% else -%>
		  		<%if task2.completed?%><img class="item" src="/images/space.gif" align="absmiddle"><%end%><%= link_to task2.title, task2, :title => task2.title -%>
				<% end -%>				
		<% elsif task2.type == "Project" -%>
			<span><%= link_to task2.title, edit_project_path(task2) -%></span>
		<% else -%>
			<span><%= task2.title -%></span>
		<% end -%>			
		<%if @timer.nil?%>
			<% if task2.type == "Release"%>
				<%=  link_to 'New Project', new_project_path(:parent_id => task2.id),:class => 'small' -%>
			<% elsif task2.type == "Project"%>
				<%= link_to '+', new_task_path(:parent_id => task2.id), :class => 'button_link', :title => 'New Task' -%>
				<%#= link_to "++", {:controller => 'tasks', :action => 'bulknew', :project_id => task2.id}, {:class => 'button_link', :title => 'Bulk Add Multiple Tasks'}%>
			<% end -%>
		<% end -%>
		<% if task2.on_hold?%>( On Hold )<%end-%>
	</td></tr>
