<tr><td style="<%if !task2.due.nil? && task2.type=="Release"%>;background-color:<%= @release_color[task2.id]%>; opacity:0.95<%end%>" id="task_<%=task2.id -%>" class="strow <%="completed" if task2.completed? -%> <%="onhold" if task2.on_hold?  -%> <%=task2.type_string -%><%=" mine" if task2.user_id == current_user -%>"><div>
		<% if task2.type.nil? 
			-%><%if task2.user_id == current_user.id -%>
	  			<%if task2.completed?%><img class="item" src="/images/space.gif" align="absmiddle"><%end%><%= link_to task2.title, edit_task_path(task2)%>
					<span id="edit_task_<%=task2.id%>"></span>
				<% else -%>
		  		<%if task2.completed?%><img class="item" src="/images/space.gif" align="absmiddle"><%end%><%= link_to task2.title, task2, :title => task2.title -%>
				<% end -%>				
		<% elsif task2.type == "Project" -%>
			<span><%= link_to task2.title, edit_project_path(task2) -%></span>
		<% else -%>
			<span><%= link_to task2.title, edit_release_path(task2) -%></span>
		<% end -%>			
		<%if @timer.nil?%>
			<% if task2.type == "Release"%>
				<%=  link_to 'New Project', new_project_path(:parent_id => task2.id),:class => 'small' -%>
			<% elsif task2.type == "Project"%>
				<%= link_to image_tag('icons/add.png',:border => 0, :align=>:absmiddle), root_path(:parent_id => task2.id, :new => true), :title => 'New Task' -%>
				<%#= link_to "++", {:controller => 'tasks', :action => 'bulknew', :project_id => task2.id}, {:class => 'button_link', :title => 'Bulk Add Multiple Tasks'}%>
			<% end -%>
		<% end -%>
		<% if task2.on_hold?%>( On Hold )<%end-%>
	</div></td></tr>
