<% @tasks.each do |task| %>
<% if task.type == "Project" %>
<%unless task.first?%></ul><%end%>
<% end %>
	<li id="task_<%=task.id%>" class="lirow <%=task.status%> <%=task.type%><%=" mine" if task.user_id == current_user%>">
			<%#=link_to_remote task.title, :update => "progress_dialog", :complete => "$('interval_hours').focus();", :url => new_interval_path(:task_id => task.id), :html => {:class => :hideul} %> 
			<% if task.type.nil? %>
					<% if task.user_id == current_user.id && !@timer.nil?%>
						<div id="timer_link_<%=task.id%>">
							<% form_for(:task, task, :url => complete_task_path( task ), :html => {:method => 'put', :id => "complete_task_#{task.id}"}) do |f| %>
							<%= f.check_box :completed, :style => "position:absolute;right:4px;", :onclick => "$('#complete_task_#{task.id}').submit();"%>
							<% end %>
							<%=link_to '<img class="item ' + (task == @current_task ? 'started' : 'stopped') + '" src="/images/space.gif" align="absmiddle" border="0"> ' + 
								task.title, user_path(current_user, 
								:task_id => (@current_task == task ? nil : task.id), 
								:stop => (@current_task == task ? true : nil), 
								:timer =>params[:timer]), 
								:class => "hideul #{(task == @current_task ? 'started' : 'stopped')}" %> 						
						</div>
					<% else %>
			  		<img class="item" src="/images/space.gif" align="absmiddle"><%= task.title%>
					<% end %>				
			<% else %>
				<%= task.title%>
			<% end %>
			
			<%if @timer.nil?%>
				<% if task.type == "Release"%>
					<%=  link_to 'New Project', new_project_path(:parent_id => task.id) %>
				<% elsif task.type == "Project"%>
					<%=  link_to '+', new_task_path(:parent_id => task.id), :class => 'button_link' %>
					<%= link_to "++", {:controller => 'tasks', :action => 'bulknew', :project_id => task.id}, {:class => 'button_link'}%>
				<% end %>
			<% end %>
		</li>
		<% if task.type == "Project" %>
		<%unless task.first?%></ul><%end%><ul id="taskList<%=task.id%>">
		<% end %>
<% end %>
</ul>
