<% if request.xhr? %>
	<% remote_form_for(@task, :url => task_path(@task)) do |f| %>
	  <%= f.error_messages %>
		<%= render :partial => 'form', :locals => {:f => f}%>
	  <p>
	    <%= f.submit "Save", :id => 'submit' %>
	  </p>
	<% end %>
<% else %>
	<% form_for(@task, :url => task_path(@task)) do |f| %>
	  <%= f.error_messages %>
		<%= render :partial => 'form', :locals => {:f => f}%>
	  <p>
	    <%= f.submit "Save", :id => 'submit' %>
	  </p>
	<% end %>
<% end %>
<%= link_to_function 'Cancel', "$('#task_label_#{@task.id}').show();$('#edit_task_#{@task.id}').html(\"\");"%>
<%#= link_to_function 'Back', :back %>
