<% unless @tasks.empty? %>
<div id="leftcol" class="resizeable">
		<table class="st" id="schedule">
		<thead>
			<tr class="srow">
				<td>Title</td>
			</tr>
	  </thead>
		<% @tasks.each do |task| %>
	  <tr class="srow">
			<td style="overflow:hidden"><nobr><% (task.level * 4).times do -%>&nbsp;<%end%><span <%if task.completed?%>style="text-decoration:line-through"<%end%>>
					<%#=link_to_remote task.title, :update => "progress_dialog", :complete => "$('interval_hours').focus();", :url => new_interval_path(:task_id => task.id), :html => {:class => :hideul} %> 
					<% if task.type.nil? %>
						<%=link_to task.title, new_interval_path(:task_id => task.id), :html => {:class => :hideul} %> 
					<% else %>
						<%=link_to task.title, edit_task_path(task), :html => {:class => :hideul} %> 
					<% end %>
					<% if task.type == "Release"%><%=  link_to 'New Project', new_project_path(:parent_id => task.id) %>
					<% elsif task.type == "Project"%><%=  link_to '+ New Task', new_task_path(:parent_id => task.id), :class => 'button_link' %>
					<%= link_to "++ Bulk", {:controller => 'tasks', :action => 'bulknew', :project_id => task.id}, {:class => 'button_link'}%>
					<% end %>
					</nobr>
				</td>
		  </tr>
		<% end %>
		</table>

</div>
<div id="rightcol" onscroll="scrollDiv('leftcol','rightcol')">
		<table class="st" id="schedule">
		<thead>
			<tr class="srow2">
				<td>Section</td>
		    <td>Low</td>
		    <td>High</td>
		    <td>Estimate</td>
<!--
		    <td>Sim</td> 
-->
		    <td>Owner</td>
		    <td>Start</td>
		    <td>End</td>
			  <td>Milestones
						<div style="position:relative; margin-left:0px">				
							<% for i in 0..@total_calendar_days%>
							<% d = Date.today + i%>
							<!-- oi: <%= d %> -->
							<div style="position:absolute;left:<%= @day_in_pixels * i %>px;height:<%= @tasks.size * 2.5%>em;<% if d.wday == 0 || d.wday == 6 %>width:<%=@day_in_pixels-1%>px;background-color:#777;opacity:0.5;<% end %>border-left:1px solid #ccc"></div>
							<% end %>
						</div>
				</td>
			</tr>
	  </thead>
		<% @tasks.each do |task| %>
	  <tr class="srow">
				<% unless task.type == "Release" or task.type == "Project"%>
			    <td nowrap><%=h task.tag_list %></td>
			    <td><%=h task.low %></td>
			    <td><%=h task.high %></td>
			    <td><%=h task.estimate.round(3) %></td>
	<!--
		 		  <td><%=h task.monte_estimate.round(2) unless task.low.nil?%></td>
	-->
			    <td nowrap><%=task.user ? (link_to task.user.name, :u => task.user.id) : '<span class="unassigned">Unassigned</span>'%></td>

			    <td><%=h task.start.to_s(:mdy) unless task.completed?%></td>
			    <td><%=h (task.end.to_s(:mdy)) unless task.completed?%></td>

					<td style="width:<%=@day_in_pixels * @total_calendar_days %>px;vertical-align:top">
						<% unless task.completed? %>
						<div style="position:relative; width:<%= @day_in_pixels*@total_calendar_days %>px;">
						<span title="<%= task.start.to_s(:long) %> - <%= task.end.to_s(:long) %> (<%= task.estimate %>days)" class="ganttbar" style="width:<%= @day_in_pixels * (task.end - task.start) %>px; left:<%= @day_in_pixels * (task.start - Date.today) %>px"></span>					
						</div>
						<% end %>
					</td>
			    <td><%= link_to 'E', edit_task_path(task) %></td>
				<%else %>
				<td colspan="7">
					Due <%= task.due %>  
					<% unless task.projections.nil? || task.projections.empty?%>
						<%= task.projections.last.start%>  - <%= task.projections.last.end%> (<%= task.projections.size%>)
					<% end %>
					</td>
<!-- gantt bar here -->
				<% end %>
		  </tr>
		<% end %>
	<% if false %>
			<tr>
				<td colspan="5"></td>
		    <td><%=  @tasks.collect(&:estimate).sum %></td>
		    <td><%= @durations[@durations.size * 0.05].round(3)%> - <%= @durations[@durations.size * 0.95].round(3)%></td>
			</tr>
	<% end %>
		</table>

</div>
<div id="progress_dialog" style="display:none; background-color:blue; z-index:10">
	word
</div>

				
<% else %>
<%= link_to "New Release", new_release_path%>
<% end %>

<% if true %>

<script type="text/javascript" charset="utf-8">
function startup()
{
	Resize();
	$('#leftcol').resizable({ 
	    handles: "e",
	    stop: function(e, ui) { 
//				$('#rightcol').width( );
				$('#rightcol').animate({
					left: $('#leftcol').width(),
					width: $(window).width() - $('#leftcol').width(),
					}, 1);
	    }, 
	});	
}

function scrollDiv(lckDiv, scrDiv)
{
	document.getElementById(lckDiv).scrollTop = document.getElementById(scrDiv).scrollTop;
	//document.getElementById(lckDiv).scrollLeft = document.getElementById(scrDiv).scrollLeft;

}

window.size = function()
{
	var w = 0;
	var h = 0;

	//IE
	if(!window.innerWidth)
	{
		//strict mode
		if(!(document.documentElement.clientWidth == 0))
		{
			w = document.documentElement.clientWidth;
			h = document.documentElement.clientHeight;
		}
		//quirks mode
		else
		{
			w = document.body.clientWidth;
			h = document.body.clientHeight;
		}
	}
	//w3c
	else
	{
		w = window.innerWidth;
		h = window.innerHeight;
	}
	return {width:w,height:h};
}

function Resize()
{
	$('#rightcol').css('height',window.size().height - 36);
	$('#leftcol').css('height',window.size().height - 36 - 16);
	$('#rightcol').css('width',window.size().width - 303);
	
//	$('a-col').style.height = window.size().height - 20 + "px";
//	$('map_canvas').style.width = window.size().width - 255 + "px";
	}
if (window.attachEvent) {
    window.attachEvent("onresize", function() {setTimeout("Resize()",50);} );
} else {
    window.addEventListener("resize", function() {setTimeout("Resize()",50);}, false);
}	
</script>
<% end %>
<% unless @want_table.nil?%>
<script type="text/javascript" charset="utf-8">
//{key:"account",label:"Account Number", sortable:true, resizeable:true, width:20},
//{key:"quantity",label:"Quantity",formatter:YAHOO.widget.DataTable.formatNumber,sortable:true},
//{key:"amount",label:"Amount Due",formatter:YAHOO.widget.DataTable.formatCurrency,sortable:true}

YAHOO.util.Event.addListener(window, "load", function() {
    YAHOO.example.EnhanceFromMarkup = new function() {
        var myColumnDefs = [
					{key:"title",label:"Title", sortable:false, resizeable:true, width:300},
					{key:"section",label:"Section", sortable:false, width:150},
					{key:"low",label:"Low", sortable:false},
					{key:"high",label:"High", sortable:false},
					{key:"estimate",label:"Estimate", sortable:false},
					{key:"sim",label:"Sim", sortable:false},
					{key:"user",label:"User", sortable:false, width:100},
					{key:"start",label:"Start", sortable:false,formatter:YAHOO.widget.DataTable.formatDate},
					{key:"end",label:"End", sortable:false,formatter:YAHOO.widget.DataTable.formatDate},
					{key: "gantt", label:""},
					
        ];

        this.parseNumberFromCurrency = function(sString) {
            // Remove dollar sign and make it a float
            return parseFloat(sString.substring(1));
        };
// {key:"title", parser:"date"}
        this.myDataSource = new YAHOO.util.DataSource(YAHOO.util.Dom.get("schedule"));
        this.myDataSource.responseType = YAHOO.util.DataSource.TYPE_HTMLTABLE;
        this.myDataSource.responseSchema = {
            fields: [
							{key:"title"}, 
							{key:"section"},
							{key:"low"}, 
							{key:"high"}, 
							{key:"estimate"}, 
							{key:"sim"}, 
							{key:"user"}, 
							{key:"start", parser:"date"}, 
							{key:"end", parser:"date"}, 
							{key: "gantt"}
            ]
        };

        this.myDataTable = new YAHOO.widget.DataTable("markup", myColumnDefs, this.myDataSource,
                {caption:"Solidschedule"}
        );
    };
});

</script>
<% end %>

