<% @slow_down = false %>
<% unless @tasks.empty? %>
<div id="canvas">
<div id="leftcol" class="resizeable">
			<%#= render :partial => 'tasklist', :locals => {:skip_completed => nil}%>
			<table class="st" id="left-schedule" width="100%">
					<tr class="srow2">
						<td>Tasks</td>
					</tr>
			<%= render :partial => 'task2', :collection => @tasks%>
			</table>
<% reset_cycle %>
</div>
<div id="rightcol" onscroll="scrollDiv('leftcol','rightcol')">
		<table class="st" id="schedule">
		<thead>
			<tr class="srow2">
				<td>Section</td>
		    <td colspan="2">Estimate</td>
<!--
		    <td>Sim</td> 
-->
		    <td>Owner</td>
		    <td>Start</td>
		    <td>End</td>
			  <td>
						<div style="position:relative; margin-left:0px">				
							<% @milestones = Release.incomplete.collect(&:due)%>
							<% for i in 0..@total_calendar_days-%>
								<% d = @today + i -%>
								<%
								if @milestones.include? d
									@milestone = Release.find_by_due(d) 
								end
								-%>
								<%if @milestones.include? d%><!-- milestones -->
									<div style="position:absolute;top:1em;left:<%= @pixels_per_day * i %>px;height:<%= @tasks.size * 2.5%>em;width:<%=@pixels_per_day-1%>px;border-left:1px solid #ccc;background-color:<%= cycle("cyan", "magenta", "yellow", "blue")%>;opacity:0.20"><span style="position:relative;left:0px;top:1em;font-size:24px;font-weight:bold;z-index:200;"><%= @milestone.title %></span></div>
								<%else%>
									<div style="position:absolute;top:1em;left:<%= @pixels_per_day * i %>px;height:<%= @tasks.size * 2.5%>em;width:<%=@pixels_per_day-1%>px;<% if d.wday == 0 || d.wday == 6 %>background-color:#cdc;opacity:0.5;<%end%>border-left:1px solid #ccc;"><span style="position:absolute;top:-1.5em;left:-<%=1%>px;z-index:10;font-weight:normal;font-size:11px;padding-left:2px; border-left:1px solid #ccc"><%= d.strftime('%m/%d') if d.wday == 1%></span></div>
								<%end%>
							<% end -%>
							<% reset_cycle %>
						</div>
				</td>
			</tr>
	  </thead>
		<% for task in @tasks %>
			<% if @slow_down %>
				<% projection1 = task.projections.confidence(1).last %>
				<% projection67 = task.projections.confidence(67).last %>
				<% unless projection67.nil?%>
					<% projection67.end = projection67.end + 1 if projection67.end == projection67.start%>
				<% end %>
				<% unless projection1.nil?%>
					<% projection1.end = projection1.end + 1 if projection1.end == projection1.start%>
				<% end %>
			<% end %>
		
	  <tr class="srow <%= "onhold" if task.on_hold || task.parent.on_hold %>">
				<% unless task.type == "Release" or task.type == "Project"%>
			    <td nowrap><%#=h task.tag_list %></td>
			    <td nowrap><%=h task.estimate %><%= "d" unless task.estimate.include? ?h or task.estimate.include? ?d or task.estimate.blank?%></td>
			    <td><%=link_to task.estimate_days.round(3), edit_task_path(task) %></td>
			    <td nowrap><%=task.user ? (link_to task.user.name, :filter_user => task.user.id) : '<span class="unassigned">Unassigned</span>'%></td>
			    <td><nobr><%=h task.start.to_date unless task.completed? || task.end.nil?%></nobr></td>
			    <td><nobr><%=h task.end.to_date unless task.completed? || task.end.nil?%> 
									  <% unless projection67.nil? %><% end %></nobr>
										</td>

					<td style="width:<%=@pixels_per_day * @total_calendar_days %>px;vertical-align:top">
						<% unless task.completed? || task.start.nil? || task.end.nil? %>
						<div style="position:relative; width:<%= @pixels_per_day*@total_calendar_days %>px;">							
							<span title="<%=task.title %>: <%= task.start.to_date.to_s(:long) %> - <%= task.end.to_date.to_s(:long) %> (<%= task.estimate_days %>days)" class="ganttbar" 
								style="width:<%= @pixels_per_day * task.duration_days %>px; 
								left:<%= @pixels_per_day * task.start_in_days %>px"></span>					
								<% unless projection67.nil?%>
							<span class="ganttbar_r" title="<%=task.title %> - projected (95%): <%=projection67.start.to_s(:long)%> - <%=projection67.end.to_s(:long)%>"
									style="width:<%= @pixels_per_day * (projection67.end - projection67.start) %>px; left:<%= @pixels_per_day * (projection67.start - @today) %>px"></span>
								<% end %>					
								<% unless projection1.nil?%>
							<span class="ganttbar_o" title="<%=task.title %> - projected (mean): <%=projection1.start.to_s(:long)%> - <%=projection1.end.to_s(:long)%>"
									style="width:<%= @pixels_per_day * (projection1.end - projection1.start) %>px; left:<%= @pixels_per_day * (projection1.start - @today) %>px"></span>
								<% end %>					
						</div>
						<% end %>
					</td>
			    <td><%#= link_to 'E', edit_task_path(task) %></td>
					<td><%#= link_to 'X', task, :confirm => "About to delete #{task.title}\n\nAre you sure you wish to delete this task?\n", :method => :delete%></td>
				<%else 
				# Releases and Projects:%>
				<td colspan="6"><nobr>
				<%
					url = case task.type
			      when "Project" then edit_project_path(task)
			      when "Release" then edit_release_path(task)
			      else edit_task_path(task)
			    end
				%>
					<%if true %>Due <%= link_to task.due_date, url %> <%end-%>
					<% unless !@slow_down || task.projections.nil? || task.projections.empty?%>
					<% start_p = task.projections.rollup.last.start %>
					<% end_p = task.projections.rollup.last.end %>
						<b>ETA: <%= start_p%>  - <%= end_p %></b>
					<% end %>
					</nobr></td>
					<% unless !@slow_down || task.projections.nil? || task.projections.empty? %>
					<td style="width:<%=@pixels_per_day * @total_calendar_days %>px;vertical-align:top">
						<% unless task.completed? || start_p.nil? || end_p.nil? %>
						<div style="position:relative; width:<%= @pixels_per_day*@total_calendar_days %>px;">							
							<span class="ganttbar_s" style="width:<%= @pixels_per_day * (start_p - @today) %>px; left:<%= @pixels_per_day * (0) %>px"></span>					
							<span class="ganttbar_p" style="width:<%= @pixels_per_day * (end_p - start_p) %>px; left:<%= @pixels_per_day * (start_p - @today) %>px"></span>					
						</div>
						<% end %>
					</td>
					<% end %>
				<% end %>
		  </tr>
		<% end %>
		<% end %>
	<% if false %>
			<tr>
				<td colspan="5"></td>
		    <td><%=  @tasks.collect(&:estimate).sum %></td>
		    <td><%= @durations[@durations.size * 0.05].round(3)%> - <%= @durations[@durations.size * 0.95].round(3)%></td>
			</tr>
	<% end %>
		</table>
</div>
</div>
<div id="progress_dialog" style="display:none; background-color:blue; z-index:10">
	word
</div>

<% if true %>

<script type="text/javascript" charset="utf-8">
function startup()
{
	Resize();
	
	/*
	$("#canvas").splitter();
	$('#leftcol').resizable({ 
	    handles: "ew",
	    stop: function(e, ui) { 
				$('#rightcol').animate({
					left: $('#leftcol').width(),
					width: $(window).width() - $('#leftcol').width(),
					}, 500);
	    }, 
	});	

	$('.ui-resizable-handle').css('background-color','#ABABAB');
	*/
	
	<% Project.all.each do |project| %>
	$('#taskList<%=project.id%>').sortable({
		axis: "y",
		stop: function(e,ui) {
			$('#order').val( $('#taskList<%=project.id%>').sortable('serialize', {"key":''}));
			$('#task_submit').show();
			
		}
	});
	<% end if false %>

	<% Release.all.each do |release| %>
	$('#taskList<%=release.id%>').sortable({
		axis: "y",
		stop: function(e,ui) {
			$('#order').val( $('#taskList<%=release.id%>').sortable('serialize', {"key":''}));
			$('#task_submit').show();
		}
	});
	<% end if false %>
	
	$('#task_submit').hide();

     $('a.stopped').hover(function() {
       $('img.stopped',this).addClass('stopped-hover');
     }, function() {
       $('img.stopped',this).removeClass('stopped-hover');
     });
  $('.lirow').hover(function(){
		$(this).addClass('lirow-hover');
	}, function(){
		$(this).removeClass('lirow-hover');		
	});
  
}
function updateScroll()
{

}
function scrollDiv(lckDiv, scrDiv)
{
	//if (document.getElementById(lckDiv).scrollTop != document.getElementById(scrDiv).scrollTop)
	//{
		document.getElementById(lckDiv).scrollTop = document.getElementById(scrDiv).scrollTop;
	//}
<% if false%>	//document.getElementById(lckDiv).scrollLeft = document.getElementById(scrDiv).scrollLeft;
<% end %>
}

function Resize()
{
	$('#rightcol').css('height',$(window).height() - 48);
	$('#leftcol').css('height',$(window).height() - 48 - 20);
	$('#rightcol').css('width',$(window).width() - 303);	
}
if (window.attachEvent) {
    window.attachEvent("onresize", function() {setTimeout("Resize()",50);} );
} else {
    window.addEventListener("resize", function() {setTimeout("Resize()",50);}, false);
}	
</script>
<% content_for :save_module do %>
	<% remote_form_for :task, :url => reorder_tasks_path, :before => "$('#task_submit').hide();$('#flash').html('Saving Changes & Rebuilding Schedule...')" do |f|%>
	<%= hidden_field_tag :order%>
	<%= f.submit %>
	<% end %>
<% end %>
<% end %>
