<% unless @tasks.empty? %>
<div id="leftcol" class="resizeable" onscroll="scrollDiv('rightcol','leftcol')">
		<div class="st">
			<div style="height:20px;border-top:1px solid white">Title <b><%= link_to "Show All Tasks", root_path unless params[:p].blank?%></b></div>
			<%= render :partial => 'tasklist', :locals => {:skip_completed => nil}%>
		</div>

</div>
<div id="rightcol" onscroll="scrollDiv('leftcol','rightcol')">
		<table class="st" id="schedule">
		<thead>
			<tr class="srow2">
				<td>Section</td>
		    <td>Low</td>
		    <td>High</td>
		    <td>Estimate</td>
<!--
		    <td>Sim</td> 
-->
		    <td>Owner</td>
		    <td>Start</td>
		    <td>End</td>
			  <td>
						<div style="position:relative; margin-left:0px">				
							<% @milestones = Release.all.collect(&:due)%>
							<% for i in 0..@total_calendar_days%>
							<% d = Date.today + i%>
							<!-- oi: <%= d %> -->
							<div style="position:absolute;top:1em;left:<%= @day_in_pixels * i %>px;height:<%= @tasks.size * 2.5%>em;width:<%=@day_in_pixels-1%>px;
							<% if d.wday == 0 || d.wday == 6 %>background-color:#777;opacity:0.5;<% elsif @milestones.include? d%>border-right:2px dotted #900;<%end %>border-left:1px solid #ccc;">
								<span style="position:absolute;top:-1.5em;left:-<%=0%>px;z-index:10;font-weight:normal;font-size:11px;padding-left:2px; border-left:1px solid #ccc"><%= d.strftime('%m/%d') if d.wday == 1%></span>
								
							</div>
							<% end %>
						</div>
				</td>
			</tr>
	  </thead>
		<% for task in @tasks %>
	  <tr class="srow">
				<% unless task.type == "Release" or task.type == "Project"%>
			    <td nowrap><%=h task.tag_list %></td>
			    <td><%=h task.low %></td>
			    <td><%=h task.high %></td>
			    <td><%=link_to task.estimate_days.round(3), edit_task_path(task) %></td>
	<!--
		 		  <td><%=h task.monte_estimate.round(2) unless task.low.nil?%></td>
	-->
			    <td nowrap><%=task.user ? (link_to task.user.name, :u => task.user.id) : '<span class="unassigned">Unassigned</span>'%></td>

			    <td><%=h task.start unless task.completed?%></td>
			    <td><%=h task.end unless task.completed?%></td>

					<td style="width:<%=@day_in_pixels * @total_calendar_days %>px;vertical-align:top">
						<% unless task.completed? || task.start.nil? || task.end.nil? %>
						<div style="position:relative; width:<%= @day_in_pixels*@total_calendar_days %>px;">							
							<span title="<%= task.start.to_s(:long) %> - <%= task.end.to_date.to_s(:long) %> (<%= task.estimate_days %>days)" class="ganttbar" style="width:<%= @day_in_pixels * (task.end.to_date - task.start.to_date) %>px; left:<%= @day_in_pixels * (task.start - Date.today) %>px"></span>					
						</div>
						<% end %>
					</td>
			    <td><%= link_to 'E', edit_task_path(task) %></td>
					<td><%= link_to 'X', task, :confirm => "About to delete #{task.title}\n\nAre you sure you wish to delete this task?\n", :method => :delete%></td>
				<%else # Releases and Projects:%>
				<td colspan="7"><nobr>
					Due <%= task.due_date %>  
					<% unless task.projections.nil? || task.projections.empty?%>
					<% start_p = task.projections.rollup.last.start %>
					<% end_p = task.projections.rollup.last.end %>
						<b>ETA: <%= start_p%>  - <%= end_p %></b>
					<% end %>
					</nobr></td>
					<% unless task.projections.nil? || task.projections.empty?%>
					<td style="width:<%=@day_in_pixels * @total_calendar_days %>px;vertical-align:top">
						<% unless task.completed? || start_p.nil? || end_p.nil? %>
						<div style="position:relative; width:<%= @day_in_pixels*@total_calendar_days %>px;">							
							<span class="ganttbar_s" style="width:<%= @day_in_pixels * (start_p - Date.today) %>px; left:<%= @day_in_pixels * (0) %>px"></span>					
							<span class="ganttbar_p" style="width:<%= @day_in_pixels * (end_p - start_p) %>px; left:<%= @day_in_pixels * (start_p - Date.today) %>px"></span>					
						</div>
						<% end %>
					</td>
					<% end %>
				<% end %>
		  </tr>
		<% end %>
	<% if false %>
			<tr>
				<td colspan="5"></td>
		    <td><%=  @tasks.collect(&:estimate).sum %></td>
		    <td><%= @durations[@durations.size * 0.05].round(3)%> - <%= @durations[@durations.size * 0.95].round(3)%></td>
			</tr>
	<% end %>
		</table>
</div>
<div id="progress_dialog" style="display:none; background-color:blue; z-index:10">
	word
</div>

				
<% else %>
<h1>Create a new release	</h1>
<%= link_to "New Release", new_release_path%>
<% end %>

<% if true %>

<script type="text/javascript" charset="utf-8">
function startup()
{
	Resize();
	$('#leftcol').resizable({ 
	    handles: "e",
	    stop: function(e, ui) { 
				$('#rightcol').animate({
					left: $('#leftcol').width(),
					width: $(window).width() - $('#leftcol').width(),
					}, 500);
	    }, 
	});	

	$('.ui-resizable-handle').css('background-color','#ABABAB');
	<% Project.all.each do |project| %>
	$('#taskList<%=project.id%>').sortable({
		axis: "y",
		stop: function(e,ui) {
			$('#order').val( $('#taskList<%=project.id%>').sortable('serialize', {"key":''}));
			$('#task_submit').show();
			
		}
	});
	<% end %>
	$('#task_submit').hide();

     $('a.stopped').hover(function() {
       $('img.stopped',this).addClass('stopped-hover');
     }, function() {
       $('img.stopped',this).removeClass('stopped-hover');
     });
  
}

function scrollDiv(lckDiv, scrDiv)
{
	document.getElementById(lckDiv).scrollTop = document.getElementById(scrDiv).scrollTop;
	//document.getElementById(lckDiv).scrollLeft = document.getElementById(scrDiv).scrollLeft;

}

function Resize()
{
	$('#rightcol').css('height',$(window).height() - 36);
	$('#leftcol').css('height',$(window).height() - 36 - 16);
	$('#rightcol').css('width',$(window).width() - 303);	
}
if (window.attachEvent) {
    window.attachEvent("onresize", function() {setTimeout("Resize()",50);} );
} else {
    window.addEventListener("resize", function() {setTimeout("Resize()",50);}, false);
}	
</script>
<% content_for :save_module do %>
	<% remote_form_for :task, :url => reorder_tasks_path, :before => "$('#task_submit').hide();$('#flash').html('Saving Changes & Rebuilding Schedule...')" do |f|%>
	<%= hidden_field_tag :order%>
	<%= f.submit %>
	<% end %>
<% end %>
<% end %>
