<h1><%=h @task.title %></h1>
<p>
  <b>Description:</b>
  <%=h @task.description %>
</p>

<p>
  <b>Estimate:</b>
  <%= @task.estimate_duration %>
</p>
<p>
  <b>Actual:</b>
	<% s = @task.intervals.collect {|i| i.days}.sum %>
	<%= Duration.new(s)%>
</p>
<p>
	<b>Velocity:</b>
	<%= @task.velocity %>
	
</p>
<p>
  <b>Completed:</b>
  <%=h @task.completed %>
</p>

<p>
  <b>Owner:</b>
  <%=h @task.user.name %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
<hr><h2>Time Spent</h2>
<table>
<%= render :partial => 'intervals/interval', :locals => {:intervals => @task.intervals}%>
</table>
