<h1><%= @task.title%> (<%= link_to 'Edit', edit_task_path(@task)%>)</h1> 

<% form_for(@interval) do |f| %>
  <%= f.error_messages %>

	<%= f.hidden_field :task_id %>
	<div style="float:left; padding-left:2em">
		<h3>Start / Stop </h3>
	  <p>
	    <%= f.datetime_select :start %><br>
	    <%= f.datetime_select :end %>
	  </p>
		
	</div>
	<div style="clear:both">
    <%= f.submit "Save" %> or <%= link_to 'Back', root_path%>
	</div>
<% end %>
<% unless request.xhr? %>
<% else %>
<%= link_to_function 'Cancel', "$('task_#{@task.id}_progress_form').innerHTML = '';"%>
<% end %>