<style type="text/css" media="screen">
  .running #timer {background-color: #CCFFBF; border: solid 1px #2AB400}
	#timer {text-align:right;height: 30px; padding: 2px; border: 1px solid #B42A00; background-color: #FFCEBF; margin-bottom: 2px;}
	#timer #timer-display {font: bold 32px arial, sans-serif; letter-spacing: -1px; line-height: 28px; color: #333}
	#timer #timer-display small {font-size: 14px; letter-spacing: 0}
	#timer #total-display {background-color: #FF8D6F; padding: 4px 2px 2px 2px; text-align: left; font: bold 16px arial, sans-serif; line-height: 11px}
	#timer #total-display label {font: normal 10px arial; line-height: 8px; padding-right: 3px}
	.running #timer #total-display {background-color: #8eff6f}
	body {overflow:auto;}
	.completed img.item {
		background: transparent;
		height:20px;
		width:20px;
	}
	
</style>

<div id="stopwatch" class="<%unless @current_task.nil?%>running<%end%>" style="position:absolute;top:0px;left:0px;width:100%">
<div id="timer">
	<span id="timer-display">00:00<small>.00</small></span>
</div>
</div>
<div style="position:relative;top:34px;">
	<% if current_user.tasks.empty? %>
	<h1>Your task list is empty</h1> <p>Click the <span class="button_link">+</span> or <span class="button_link">++</span> beside a project to add some tasks.
	<p><b><%= link_to_function 'Close this window', "window.close();"%></b>
	<% else %>
	<%= render :partial => 'tasks/task', :collection => @tasks.active %>
	<%#= render :partial => 'tasks/task', :collection => @tasks.complete %>
	<% end %>
<% content_for :save_module do %>
	<% remote_form_for :task, :url => reorder_tasks_path, :before => "$('#task_submit').hide();$('#flash').html('Saving Changes & Rebuilding Schedule...')" do |f|%>
	<%= hidden_field_tag :order%>
	<%= f.submit %>
	<% end %>
<% end %>
</div>
<script type="text/javascript" charset="utf-8">
var last_updated = new Number();

function startup(){
	$('.ui-resizable-handle').css('background-color','#ABABAB');
	
	<% Project.all.each do |project| %>
	$('#taskList<%=project.id%>').sortable({
		axis: "y",
		stop: function(e,ui) {
			$('#order').val( $('#taskList<%=project.id%>').sortable('serialize', {"key":''}));
			$('#task_submit').show();
			
		}
	});
	<% end if false %>
	$('#task_submit').hide();

  $('a.stopped').hover(function() {
    	$('img.stopped',this).addClass('stopped-hover');
  	}, function() {
    $('img.stopped',this).removeClass('stopped-hover');
  });
  $('a.started').hover(function() {
    	$('img.stopped',this).addClass('started-hover');
  	}, function() {
    $('img.stopped',this).removeClass('started-hover');
  });

	<% unless current_user.active_interval.nil? %>
	last_updated = <%=current_user.active_interval.start.to_f.to_i * 1000%>;
	createTimer();
	<% end %>
	document.title = 'Timer';

}


function leadingZero(x){
	y=(x>9)?x:'0'+x;
	return y;
}
if (!Date.now) {
    Date.now = function() {
        return (new Date()).getTime();
    };
}
function tick() {
		  d = Date.now();
//			console.log(d);
		  progress = Math.floor((d - last_updated) / 1000);
			if (progress < 0)
			{
				progress = 0;
			}
//			console.log(progress);
			days = Math.floor(progress / (60*60*24));
			hours = Math.floor(progress / (60*60) % 24);
			minutes = Math.floor((progress / 60) % (60));
			seconds = progress % 60;
			dstr = days > 0 ? (days + "d "): ""
			$("#timer-display").html(dstr + leadingZero(hours) + ":" + leadingZero(minutes) + '<small>.'+leadingZero(seconds)+'</small>');
			<% unless @task.nil? %>
			document.title = "<%=@task.title%> (" + leadingZero(hours) + ":" + leadingZero(minutes) + ")";
			<% end %>
   }
// 1230744744937
// 1230744705000
function createTimer()
{
	$('#timer').show();
	setInterval("tick()",1000);
}
</script>
