<h1>Editing release</h1>

<% form_for(@task) do |f| %>
  <%= f.error_messages %>
	<%= render :partial => 'tasks/form', :locals => {:f => f}%>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @task %> |
<%= link_to 'Back', releases_path %>
