<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= @title ? @title : controller.controller_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
	<% if false %>
	<link media="only screen and (max-device-width: 480px)" href="/stylesheets/iphone.css" type="text/css" rel="stylesheet" >
	<% end %>
	<meta name="viewport" content="width = device-width" />
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	
<% if true %>
	<script src="http://www.google.com/jsapi"></script>
	<%#= javascript_include_tag 'jquery-1.2.6'%>
	<script type="text/javascript" charset="utf-8">
	function startup() {}
	google.load("jquery", "1");
	google.load("jqueryui", "1");
	google.setOnLoadCallback(function() { 
		// Load jQuery
		//jQuery.noConflict();		
		startup();
	});
	</script>
	<%= javascript_include_tag 'jquery.hotkeys-0.7.8-packed'%>
<% end %>
<style type="text/css" media="screen">
<% if current_user.login == 'sanuras' %>
	#header a:hover {color:#000;background-color:#E98C44;}
	#header {color:#E98C44;}
<% end %>
</style>
</head>
<body>
	<div id="header">
		<% if @timer.nil? %>
			<span style="float:right;z-index:5">
				<% if current_user.login == 'sanuras' %>
					Rarrr! Love you!<%= image_tag "Dino_orange_36x36.png", :align => "absmiddle"%>
				<% elsif false %>
					<%=@quote_of_the_day%><%= image_tag "Dino_green_36.png", :align => "absmiddle", :onmouseover => "$('#bigguy').show();", :onmouseout => "$('#bigguy').hide();" %>
				<% end %>
			</span>
			<span id="bigguy" style="display:none;float:right;z-index:2000;position:absolute;right:128px;top:32px">
				<%= image_tag "Dino_green_512x512.png", :align => "absmiddle" %>				
			</span>
			<span style="float:right;text-align:right;padding-right:8px;">
			</span>
			<div style="float:left" id="save_module">
			<%= yield :save_module%>
			</div>
			<div style="float:left;padding-left:3em;">
				<p id="flash"><%= flash[:notice] %></p>
				<p style="color: red"><%= flash[:warning] %></p>
				<p style="color: #444"><%= flash[:light] %></p>
			</div>
			<div style="padding-right:2em;padding-left:0.5em;float:left;padding-top:.75em;font-size:12px">
				<b><%= link_to_unless_current @timer.nil? ? 'Schedule' : '', root_path %>&nbsp;&nbsp;|&nbsp;&nbsp;</b>  
				<b><%= link_to_unless_current 'Time Spent', intervals_path%>&nbsp;&nbsp;|&nbsp;&nbsp;</b>  
				<b><%= link_to_unless_current 'My Tasks', current_user %>&nbsp;&nbsp;|&nbsp;&nbsp;</b>
				<form style="display:inline" action="/" id='filter_form'>
					<b>Filters:</b>
					<%= link_to 'reset', root_path(:filter_tasks => 1, :filter_user => current_user.id, :filter_project => 0)%>
				<%=select_tag 'filter_user', options_for_select([['All Users',0]]) + options_from_collection_for_select( User.all.collect { |user| user if user.tasks.size > 0 }.compact ,:id,:name,session[:filter][:user].to_i), :onchange =>"$('#filter_form').submit()" %>
				<%=select_tag 'filter_tasks', options_for_select([['All Tasks',0], ['Active Tasks',1]],session[:filter][:tasks]), :onchange =>"$('#filter_form').submit()" %>
				<%=select_tag 'filter_project', options_for_select([['All Projects',0]]) + options_from_collection_for_select(Project.all,:id,:title,session[:filter][:project].to_i), :onchange =>"$('#filter_form').submit()" %>
				</form>
			</div>
			
		<% end %>

	</div>
	
<% if false %>
<%= link_to_unless_current 'Home', root_path%> | 
<%= link_to_unless_current 'Users', users_path%>
<% form_for(:session, :url => tasks_path, :html => {:method => "get"}) do |f| %>
Filter:<%= f.collection_select :user_id, User.find(:all), :id, :name, {:prompt => :true} %>	
<%= f.submit 'Go'%>
<%end%>

<% end %>


<%= yield %>
</body>
</html>
