<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= controller.controller_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
<% if true %>
	<script src="http://www.google.com/jsapi"></script>
	<script type="text/javascript" charset="utf-8">
	function startup() {}
	google.load("jquery", "1");
	google.load("jqueryui", "1");
	google.setOnLoadCallback(function() { 
		// Load jQuery
		//jQuery.noConflict();		
		startup();
	});
	</script>
	<%= javascript_include_tag 'jquery.hotkeys-0.7.8-packed'%>
<% end %>
</head>
<body>
	<div id="header">
		<% if @timer.nil? %>
			<span style="float:right;text-align:right;padding-right:8px">
			<%= "Welcome #{session[:username]}" unless session[:username].blank?%>
			<%#= link_to_unless_current 'Login', admin_releases_path unless current_user%>
			<%= link_to_unless_current 'Login', :controller => :login unless current_user%>
			<%= link_to_unless_current 'Logout', logout_path if current_user%><br>
			</span>
			<h2 style="padding-right:2em;padding-left:0.5em;float:left"><b style="float:left"><%= link_to_unless_current @timer.nil? ? 'Schedule' : '', root_path %>&nbsp;&nbsp;|&nbsp;&nbsp;</b>  
			<b style="float:left"><%= link_to_unless_current 'Time Spent', intervals_path%>&nbsp;&nbsp;|&nbsp;&nbsp;</b>  
			<b style="float:left"><a href="javascript:newwindow=window.open('<%=user_path(current_user,:timer=> true, :task_id => current_user.current_task)%>','','resizable=1,toolbar=0,location=0,status=0,menubar=0,scrollbars=1,width=275,height=450');newwindow.focus();" id="timer-link">
				<% if current_user.current_task%><%= "Task In Progress: " + current_user.current_task.title %> <%else%>My Tasks<%end%>
				</a>	
			</b>
			</h2>
		<% end %>

		<div style="float:left" id="save_module">
		<%= yield :save_module%>
		</div>
		<div style="float:left;padding-left:3em">
			<p style="color: #5283D2" id="flash"><%= flash[:notice] %></p>
			<p style="color: red"><%= flash[:warning] %></p>
			<p style="color: #444"><%= flash[:light] %></p>
		</div>
	</div>
	
<% if false %>
<%= link_to_unless_current 'Home', root_path%> | 
<%= link_to_unless_current 'Users', users_path%>
<% form_for(:session, :url => tasks_path, :html => {:method => "get"}) do |f| %>
Filter:<%= f.collection_select :user_id, User.find(:all), :id, :name, {:prompt => :true} %>	
<%= f.submit 'Go'%>
<%end%>

<% end %>


<%= yield %>
</body>
</html>
