<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Tasks: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
<% if true %>
	<script src="http://www.google.com/jsapi"></script>
	<script type="text/javascript" charset="utf-8">
	function startup() {}
	google.load("jquery", "1");
	google.load("jqueryui", "1");
	google.setOnLoadCallback(function() { 
		// Load jQuery
		//jQuery.noConflict();		
		startup();
	});
	</script>
	<%= javascript_include_tag 'jquery.hotkeys-0.7.8-packed'%>
<% end %>
</head>
<body>
	<div id="header">
		<span style="float:right">
		<%= "Welcome #{session[:username]}" unless session[:username].blank?%>
		<%#= link_to_unless_current 'Login', admin_releases_path unless current_user%>
		<%= link_to_unless_current 'Login', :controller => :login unless current_user%>
		<%= link_to_unless_current 'Logout', logout_path if current_user%>
		</span>
		<h1>Schedule&nbsp;&nbsp;</h1>
	</div>
	
<% if false %>
<%= link_to_unless_current 'Home', root_path%> | 
<%= link_to_unless_current 'Users', users_path%>
<% form_for(:session, :url => tasks_path, :html => {:method => "get"}) do |f| %>
Filter:<%= f.collection_select :user_id, User.find(:all), :id, :name, {:prompt => :true} %>	
<%= f.submit 'Go'%>
<%end%>

<% end %>

<p style="color: green"><%= flash[:notice] %></p>
<p style="color: red"><%= flash[:warning] %></p>

<%= yield %>
</body>
</html>
